{% extends "index.html"%}
{% block start %}
 <div class="container mt-5">
    <form class = "col-9 mx-auto card p-4 shadow-lg" method = "post" enctype = "multipart/form-data">
        {% csrf_token%}
        <h1> Register </h1>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">First Name</label>
          <input name = "firstname " required type="text" class="form-control" >
         
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Last Name</label>
          <input name = "lastname " required type="text" class="form-control" >
         
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input name = "username " required type="text" class="form-control" >
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Password</label>
          <textarea name = "password" class="form-control" required ></textarea>
        </div>
        {% comment %} <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Confirm Password</label>
          <textarea name = "Confirm Password" class="form-control" required ></textarea>
        </div> {% endcomment %}
        <p> Already have an account  <a href = " ">Login</a> </p>
        <button type="submit" class="btn btn-primary">Submit</button>
    
</div>
{% endblock %}